main {
    background-color: #fefae0;
}

#cart {
    height: 500px;
    width: 300px;
    background-color: #dda15e;
}

#cart h3, #checkout-form h3 {
    font-size: 3rem;
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
}

#checkout h2 {
    border-bottom: 5px solid #dda15e;
}

#checkout-form h3 {
    color: black;
    padding: 10px;
}

main h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    text-align: center;
}

main p {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#online-shop {
    display: flex;
    justify-content: space-evenly;
}

#item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px 400px 400px;
    background-color: #dda15e;
    height: 600px;
    width: 800px;
    overflow: auto;
    row-gap: 5px;
    column-gap: 5px;
    padding: 5px;
}

#item-container .card {
    background-color: #fefae0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#item-container .card img {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rosybrown;
}

.card img:active {
    z-index: 2;
    transform: scale(2);
}

.qty {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.qty span {
    font-size: 1.5rem;
}

#cart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-shadow: 5px 5px 5px rosybrown;
}

#cart h3 {
    text-shadow: 4px 5px brown;
}

#cart #item-add {
    width: 100%;
    height: 50%;
    overflow: auto;
    background-color: #fefae0;
}

.increase:hover, .decrease:hover {
    color: brown;
    cursor: pointer;
}

.add-btn, #checkout-btn, #payment, #submit-btn, #thanks-close-btn {
    background-color: brown;
    border-radius: 15px;
    color: white;
    padding: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2rem;
    box-shadow: 5px 5px 5px rosybrown;
}

.add-btn:hover, #checkout-btn:hover, #checkout-close-btn:hover, #payment:hover, #submit-btn:hover, #thanks-close-btn:hover {
    background-color: #fefae0;
    color: black;
    transform: translate(5px, 5px);
}

#item-add {
    list-style: none;
    padding: 0.5rem;
}

.item-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-remove:hover {
    color: brown;
    cursor: pointer;
}

#restaurants {
    padding-top: 5%;
    padding-bottom: 5%;
}

#checkout, #pay, #thanks {
    width: 800px;
    height: 800px;
    position: fixed;
    background: #fefae0;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -400px;
    border: 5px solid #dda15e;
}

#checkout-close-btn, #payment-close-btn {
    float: right;
    background-color: indianred;
    color: white;
}

#checkout-close-btn:hover, #payment-close-btn:hover {
    transform: none;
}

#orders {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    height: 400px;
    overflow: auto;
}

#payment-con, #submit-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:20px;
}

input, label {
    float:left;
    margin-bottom: 20px;
}

#thanks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 800px) {
    #checkout, #pay, #thanks {
        width: 600px;
        height: 600px;
        margin-top: -300px;
        margin-left: -300px;
    }

    #submit-container {
        margin-top: 0;
    }

    #orders {
        font-size: 1rem;
        height: 200px;
    }

    main h2 {
        font-size: 3rem;
    }

    main p {
        font-size: 1rem;
    }

    #online-shop {
        flex-direction: column;
    }

    #item-container {
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px 400px 400px 400px;
        width: 600px;
    }

    #cart {
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    form {
        height: 300px;
        overflow: auto;
        margin-left: 20%;
    }
    label {
        display: block;
        text-align: center;
    }
    input, label {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #checkout, #pay, #thanks {
        width: 400px;
        height: 450px;
        margin-top: -200px;
        margin-left: -200px;
    }

    #submit-btn {
        margin-top: 20px;
    }

    #item-container {
        width: 400px;
    }

    #item-container .card img {
        max-width: 100px;
        max-height: 100px;
    }
}

@media screen and (max-width: 400px) {
    #checkout, #pay, #thanks {
        width: 350px;
        margin-left: -175px;
    }
    #item-container {
        width: 300px;
    }
}

@media screen and (max-width: 300px) {
    #item-container {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 400px 400px 400px 400px;
        width: 200px;
    }

    #cart {
        width: 50%;
    }
}